version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 50
    labels:
      - "dependencies"
      - "npm dependencies"
      - "urgency:low"
    reviewers:
      - hasan-wajahat
    assignees:
      - ixdf-bot
    ignore:
      # For all packages, ignore all patch updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
