/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Variables
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #009cde;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

:root{
  /* Temp CSS variables: Remove after Tailwind */
  --font-size-default: 18px;
  --font-size-mobile-default: 16px;
  --font-size-print-default: 12px;
  --line-height-default: 1.5;

  /* Font families */
  --font-serif: 'Merriweather', georgia, serif;
  --font-sans-serif: 'Source Sans Pro', arial, sans-serif;
  --font-monospace: 'Source Code Pro', monospace;

  /* Font sizes */
  --font-size-peta: 3.04rem;
  --font-size-tera: 2.44rem;
  --font-size-giga: 1.95rem;
  --font-size-mega: 1.56rem;
  --font-size-kilo: 1.25rem;
  --font-size-hecto: 1rem;
  --font-size-centi: .8rem;
  --font-size-milli: .64rem;

  /* Neutral colors */
  --neutral-01: rgb(255 255 255);
  --neutral-02: rgb(249 249 249);
  --neutral-03: rgb(236 236 236);
  --neutral-04: rgb(188 188 188);
  --neutral-05: rgb(106 106 106);
  --neutral-06: rgb(43 43 43);
  --neutral-07: rgb(0 0 0);

  /* Brand colors */
  --brand-01: rgb(0 156 222);
  --brand-02: rgb(13 111 180);
  --accent-01: rgb(69 114 5);
  --accent-02: rgb(245 133 30);
  --accent-03: rgb(210 31 24);
  --accent-04: rgb(128 0 128);
  --accent-05: rgb(207 109 200);

   /* Shadow colors */
   --shadow-color-default: rgb(106 106 106 / 50%);
   --shadow-color-brand-01: rgb(0 123 171 / 50%);
   --shadow-color-accent-03: rgb(158 24 19 / 50%);
   --shadow-color-neutral-04: rgb(188 188 188 / 50%);
   --shadow-color-neutral-06: rgb(43 43 43 / 70%);

   /* External shadow colors */
   --shadow-color-facebook: rgb(38 59 99 / 50%);
   --shadow-color-twitter: rgb(46 128 191 / 50%);
   --shadow-color-linkedin: rgb(0 87 130 / 50%);

   /* Text colors */
   --text-color: var(--neutral-06);
   --text-color-secondary: var(--neutral-05);
   --text-color-inverted: var(--neutral-01);

   /* Link colors */
   --link-color: var(--brand-02);
   --link-color-visited: var(--accent-04);

   /** Brands Colors */
   --brand-color-facebook: rgb(59 89 152);
   --brand-color-instagram: rgb(81 127 164);
   --brand-color-linkedin: rgb(0 123 182);
   --brand-color-pinterest: rgb(203 32 39);
   --brand-color-twitter: rgb(56 161 243);
   --brand-color-buffer-bg: rgb(50 59 67);
   /* Old colors */
   --color-hover-gray: rgb(244 244 244);
   --color-light-gray: rgb(221 221 221);

   /* Overlaycolors */
   --hero-overlay-color: rgb(0 0 0 / 80%);
   --hero-overlay-color-small-screen: rgb(0 0 0 / 60%);

   /* This used by elements that match background, allows us to change it with background */
   --section-background-color: var(--neutral-02);

   /* Similar to --section-background-color but is used for contrast. Used in things like infoBox */
   --contrast-section-background-color: var(--neutral-03);

    /* Border radius */
    --border-radius-small: 2px;
    --border-radius: 3px;
    --border-radius-medium: 5px;
    --border-radius-large: 8px;
}

html:root {
  --vp-nav-height: 58px;

  /* vp-defaut theme over-rides */
  --vp-c-brand-1: var(--brand-02);
  --vp-c-brand-2: rgb(86 154 203);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/* .vitepress/theme/custom.css */
:root {
    --font-serif: 'Merriweather', georgia, serif;
    --font-sans-serif: 'Source Sans Pro', arial, sans-serif;
    --font-monospace: 'Source Code Pro', monospace;
    --vp-font-family-base:  var(--font-sans-serif); /* normal text font */
    --vp-font-family-mono: var(--font-monospace); /* code font */
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Defines two columns of equal width */
    gap: 32px; /* Optional, defines the space between columns */
}

.ixdf-zen-code {
    position: relative;
    width: 100%; /* or any specific width */
    height: 100%; /* or any specific height */
    overflow: hidden; /* ensures the pseudo-element does not overflow */
}

.zen-section {
    text-justify: inter-word;
}

html .VPHomeHero{
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: auto;
    margin: 0
  }

  &::before {
      height: 200px;
      width: 200px;
      content: '';
      background-image: url('https://assets.interaction-design.org/img/ixdf-brand/ixdf-logo.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 32px;
  }
}

html:before {
  content: '';
  position: fixed;
  z-index: -1;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  background-image: url('https://assets.interaction-design.org/img/ixdf-brand/ixdf-logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.045
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* One column in smaller screens */
    }
}

.link {
    font-weight: 500;
    color: var(--vp-c-brand-1);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 0.25s, opacity 0.25s;
}

.appearance {
    display: none !important;
}

 /**
 * Typography
 * -------------------------------------------------------------------------- */
/* TODO: Remove this section after Tailwind */

html {
  font-feature-settings: 'liga', 'clig', 'pnum', 'kern';
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    line-height: 1.2;
}

html .vp-doc h1,
.content h1 {
    font-size: var(--font-size-tera);
    letter-spacing: -0.75px;
    margin-bottom: 16px;
    margin-top: 64px;
}

html .vp-doc h2,
.content h2 {
    font-size: var(--font-size-giga);
    letter-spacing: -0.5px;
    margin-bottom: 16px;
    margin-top: 40px;
}

html .vp-doc h3,
.content h3 {
    font-size: var(--font-size-mega);
    letter-spacing: -0.25px;
    margin-bottom: 16px;
    margin-top: 40px;
}

html .vp-doc h4,
.content h4 {
    font-size: var(--font-size-kilo);
    margin-bottom: 16px;
    margin-top: 32px;
}

html .vp-doc h5,
.content h5 {
    font-size: var(--font-size-default);
    margin-bottom: 8px;
    margin-top: 24px;
}

html .vp-doc h6,
.content h6 {
    font-size: var(--font-size-centi);
    margin-bottom: 8px;
    margin-top: 24px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "clig", "pnum", "kern", "liga", "clig";
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}
p {
  font-family: var(--font-serif);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.78;
  max-width: var(--max-text-width-size);
}
li p {
  margin-bottom: 0
}

small {
  font-size: .8rem;
  letter-spacing: 0.15px;
  line-height: 1.2;
}

kbd {
  font-size: .8rem;
  font-weight: 500;
}

code,
pre {
  font-size: 0.8rem;
}
html:root {
  font-family: var(--font-serif);
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

html .vp-doc blockquote > p {
  font-size: 1rem;
}

/**
 * Default Theme Modifications
 * -------------------------------------------------------------------------- */

/* Buttons */
.VPButton.medium.ghost,
.VPButton.medium.brand {
  font-family: var(--font-sans-serif);
  box-shadow: 0 2px 8px rgb(106 106 106 / 40%);
  border: solid 1px transparent;
  border-radius: var(--border-radius-large);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.15;
  min-width: 160px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.13s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  vertical-align: middle;
  box-shadow: none;
  background-color: transparent;
  border: solid 1px var(--neutral-06);
  box-shadow: none;
  color: var(--neutral-06);
  min-width: unset;
  font-size: 1rem;
}
.VPButton.medium.ghost:active {
  background-color: var(--neutral-03);
  box-shadow: none;
  color: var(--neutral-06);
  transform: translateY(2px);
}
.VPButton.medium.brand {
  background: var(--brand-01);
  color: var(--neutral-01);
}
.VPButton.medium.brand:hover {
  background: var(--neutral-01);
  color: var(--brand-01);
}
.VPButton.medium.ghost:hover, .VPButton.medium.ghost:focus, .VPButton.medium.ghost:active {
  color: var(--neutral-07);
  text-decoration: none;
} 
/* Header */
.VPNavBarMenu .VPNavBarMenuLink{
  border-bottom: 2px solid transparent;
  color: var(--neutral-06);
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}
/* Hero */
.VPHero h1.name span {
  -webkit-text-fill-color: unset;
  background: unset;
  -webkit-background-clip: unset;
  color: var(--neutral-07);
}
.VPLink p {
  font-family: var(--font-sans-serif)
}

/* Docs Content */
html .vp-doc {
  font-family: var(--font-serif);

  a {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
  }

  li {
    font-size: 1rem;
    font-family: var(--font-serif);
  }
  p, 
  li {
    line-height: 1.78;
  }
}
/* Code Snippets */
html .vp-doc [class*='language-'] > span.lang {
  right: 18px;
  top: 18px;
}

/**
 * Media Queries
 * -------------------------------------------------------------------------- */
@media screen and (max-width:768px) {
  .grid-container {
    grid-gap: 24px;
  }

  html:root{
    font-size: var(--font-size-mobile-default);
  }
  html .VPHomeHero{ 
    flex-direction: column;

    &:before{
      margin-right: 0;
    }
    
    .container {
      margin-top: 32px;
    }

    .actions, .container {
      text-align: center;
    }

    .name, .tagline {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media print {
  html:root{
    font-size: var(--font-size-print-default);
  }
}
