:root {
    --font-size-default: 16px;
    --font-serif: 'Source Sans Serif', georgia, serif;
}

body {
    font-size: var(--font-size-default);
}

ul, ol {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.7;
}


.theme-default-content:not(.custom) {
    margin: 0 auto;
    max-width: 672px;
}

.page {
    .page-edit, .page-nav {
        margin: 0 auto;
        max-width: 672px;
    }
}


