:root {
    --font-size-default: 18px;
    --font-serif: 'Merriweather', georgia, serif;
    --font-sans-serif: 'Source Sans Pro', arial, sans-serif;
    --font-monospace: 'Source Code Pro', monospace;

    @media (max-width: 767px) {
        --font-size-default: 16px;
    }

    font-size: var(--font-size-default);
}

body {
    font-family: var(--font-sans-serif);
    font-size: 18px;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 2.44rem;
    letter-spacing: -0.75px;
    margin-bottom: 16px;
    margin-top: 64px;
}

h2 {
    border-bottom: none;
    font-size: 1.95rem;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
    margin-top: 40px;
}

h3 {
    font-size: 1.56rem;
    letter-spacing: -0.25px;
    margin-bottom: 16px;
    margin-top: 40px;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 16px;
    margin-top: 32px;
}

h5 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 24px;
}

h6 {
    font-size: 0.8rem;
    margin-bottom: 8px;
    margin-top: 24px;
}

p {
    font-family: var(--font-serif);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.78;
    margin-bottom: 24px;
}

code {
    @media (max-width: 767px) {
        overflow-wrap: break-word;
    }
}

li {
    font-family: var(--font-serif);
}

.navbar span.site-name {
    font-size: 1rem;
}

.theme-default-content:not(.custom) {
    margin: 0 auto;
    padding: 2rem 64px 2rem 16px;
    max-width: 672px;

    @media (max-width: 767px) {
        padding-right: 16px;
    }
}

.page {
    .page-edit, .page-nav {
        margin: 0;
        padding: 0 64px 2rem 16px;

        @media (max-width: 767px) {
            padding-right: 16px;
        }
    }
}

.sidebar-link,
.sidebar-heading {
    font-weight: normal !important;
    font-family: var(--font-sans-serif);
}

.sidebar-heading {
    font-size: var(--font-size-default);
}

a.sidebar-link {
    font-size: .9rem !important;
}

.sidebar > .sidebar-links > li {
    margin: 0 0 8px !important;
}

.sidebar-group.is-sub-group>.sidebar-heading {
    font-size: 1em !important;
}
